table {
  border-collapse: collapse;
  margin: 50px auto;
  font-size: 0.9em;
  min-width: 400px;
  text-align: center;
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.button {
  padding: 10px 16px;
  background: #009879;
  box-shadow: 0 4px 4px rgba(127, 127, 127, 0.3);
  display: inline-block;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  transition: all 0.2s;
  margin: 18px;
}

.button:hover {
  background: #1dc6a4;
}

.center{
  background-color:#fff;
  text-align: center;
  margin:0 auto;
}

.wrap img{
  vertical-align: middle;
}

.wrap h1{
  display: inline-block;
  vertical-align: middle;
}

.wrap button{
  vertical-align: middle;
}

.wrap input{
  vertical-align: middle;
}

.div1 {
  background-color:rgba(22, 174, 239, 0.38);
  border-radius: 25px;
  width: 550px;
  height: 250px;
  text-align: center;
  margin:0 auto
}

.div2, .div3{
  display: inline-block;
}

.wrap table{
  display:flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

#patient_number {
  width: 150px;
  height: 25px;
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  background-color: rgba(41, 142, 78, 0.38);
}



