<html>
  <head>
    <title>Support Customer Relationship Officer System</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/static/css/style.css" />
    <title>Counter System</title>
  </head>

  <body>
    <h1>Management for {{ branch }} {{ service }}</h1>
    <div id="content">
      There are {{ normal_num }} people in the normal queue and {{ priority_num
      }} people in the priority queue. The queue is now {{ status }}.
      <table>
        <thead>
          <tr>
            <th>Queuing Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Now Serving</td>
          </tr>
          <tr>
            {% if now_serving is not none %}
            <td>{{ now_serving }}</td>
            {% else %}
          </tr>

          <tr>
            <td>Empty Queue</td>
          </tr>
          {% endif %}
          <tr></tr>
          <td>Next</td>
          <tr>
            {% if next_serving is not none %} {% for i in next_serving %}
          </tr>

          <tr>
            <td>{{ i }}</td>
          </tr>
          {% endfor %} {% else %}
          <tr>
            <td>Empty Queue</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>

    <input
      class="button"
      type="button"
      onclick="javascript:location.reload();"
      value="Refresh" />

    Select the operation:
    <form method="post">
      <button type="submit" name="action" value="{{ change_status }}">
        {{ change_status }}
      </button>
      <button type="submit" name="action" value="Re-schedule">
        Re-schedule
      </button>
      <button type="submit" name="action" value="Return">Return</button>
    </form>
  </body>
</html>
