<!DOCTYPE html>
<html>
  <meta http-equiv="refresh" content="5" />
  <head>
    <title>Patient Status</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/static/css/style.css" />
  </head>
  <body>
    <div class="center">
      <h1>Patient Status</h1>
      <h2>You're queueing for {{ service }} in {{ branch }}.</h2>

      {% if wait > -1 %}
      <h2>Your queue number is {{ queue_number }}.</h2>
      <h2>There are {{ wait }} people before you.</h2>
      {% elif wait == -2%}
      <h2>Your number is passed, please find the CRO to reschedule.</h2>
      {% else %}
      <h2>You are not in the queue.</h2>
      {% endif %}

      <form method="post">
        <button class="button" type="submit" value="Return">Return</button>
      </form>

      <input
        class="button"
        type="button"
        onclick="javascript:location.reload();"
        value="Refresh" />
    </div>
  </body>
</html>
