<html>
  <head>
    <title>Queue System</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/static/css/style.css" />
    <title>Counter System</title>
  </head>

  <body>
    <h1>Management for {{ branch }} {{ service }}</h1>
    <div id="content">
      There are {{ normal_num }} people in the normal queue and {{ priority_num
      }} people in the priority queue. The queue is now {{ status }}.
      <table>
        <thead>
          <tr>
            <th>Queuing Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Now Serving</td>
          </tr>
          <tr>
            {% if now_serving is not none %}
            <td>{{ now_serving }}</td>
            {% else %}
          </tr>

          <tr>
            <td>Empty Queue</td>
          </tr>
          {% endif %}
          <tr></tr>
          <td>Next</td>
          <tr>
            {% if next_serving is not none %} {% for i in next_serving %}
          </tr>

          <tr>
            <td>{{ i }}</td>
          </tr>
          {% endfor %} {% else %}
          <tr>
            <td>Empty Queue</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>

    <input
      class="button"
      type="button"
      onclick="javascript:location.reload();"
      value="Refresh"
      disabled />

    Select the operation:

    <form method="post" action="/CRO/{{ branch }}/{{ service }}/queue">
      <button
        class="button"
        type="submit"
        name="action"
        value="{{ change_status }}"
        disabled>
        {{ change_status }}
      </button>
      <button
        class="button"
        type="submit"
        name="action"
        value="Re-schedule"
        disabled>
        Re-schedule
      </button>
      <button
        class="button"
        type="submit"
        name="action"
        value="Return"
        disabled>
        Return
      </button>
    </form>

    <form method="post">
      <label for="patient_number">Select Patient:</label>
      {% if missed_nums|length > 0 %}
      <select id="patient_number" name="patient_number">
        <option value="">---Select---</option>
        {% for patient in missed_nums %}
        <option value="{{ patient }}">{{ patient }}</option>
        {% endfor %}
      </select>
      <button
        class="button"
        type="submit"
        id="confirm"
        value="Confirm"
        disabled>
        Confirm
      </button>
      {% else %}
      <p>No Missing Number</p>
      <button class="button" type="submit" id="confirm" value="Return">
        Return
      </button>
      {% endif %}
    </form>

    <script>
      let selectElement = document.getElementById("patient_number");
      let submitButton = document.getElementById("confirm");

      selectElement.addEventListener("change", function () {
        if (selectElement.value === "") {
          submitButton.disabled = true;
        } else {
          submitButton.disabled = false;
        }
      });
    </script>
  </body>
</html>
